<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
    <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div><img src="assets/images/users/varun.jpg" alt="user-img" class="img-circle"></div>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Steave Gection <span class="caret"></span></a>
                <ul class="dropdown-menu animated flipInY">
                    <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- End User profile text-->
    <!-- Sidebar navigation-->
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- input-group -->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                        </span> </div>
        <!-- /input-group -->
      </li>
      <li class="nav-small-cap">--- PERSONAL</li>
      <li>
        <a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink=""><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu">Starter Page</span></a>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-icon="/" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Angular Component<span class="fa arrow"></span></span></a>
        <ul aria-expanded="false" class="nav nav-second-level">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="accordion">Accordion</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="alert">Alert</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="carousel">Carousel</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="datepicker">Datepicker</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="dropdown">Dropdown - Collapse</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="modal">Modal</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="pagination">Pagination</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="Popovertooltip">Popover & Tooltip</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="progressbar">Progressbar</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="rating">Ratings</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="tabs">Tabs</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="timepicker">Timepicker</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="typehead">Typehead</a></li>
        </ul>
      </li>
      <li>
        <a class="has-arrow" href="javascript:void(0)" aria-expanded="false"><i data-icon="7" class="linea-icon linea-basic fa-fw"></i><span class="hide-menu">Icons<span class="fa arrow"></span></span></a>
        <ul aria-expanded="false" class="nav nav-second-level">
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="fontawesome">Fontawesome</a></li>
          <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="simpleline">Simple Line Icons</a></li>
          
        </ul>
      </li>
      <li>
        <a class="" href="javascript:void(0)" aria-expanded="false"><i data-icon="F" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">Multi level dd<span class="fa arrow"></span></span></a>
        <ul aria-expanded="false" class="nav nav-second-level">
          <li><a href="javascript:void(0)">item 1.1</a></li>
          <li><a href="javascript:void(0)">item 1.2</a></li>
          <li>
            <a class="" href="#" aria-expanded="false">Menu 1.3 <span class="fa arrow"></span></a>
            <ul aria-expanded="false" class="nav nav-third-level">
              <li><a href="javascript:void(0)">item 1.3.1</a></li>
              <li><a href="javascript:void(0)">item 1.3.2</a></li>
              <li><a href="javascript:void(0)">item 1.3.3</a></li>
              <li><a href="javascript:void(0)">item 1.3.4</a></li>
            </ul>
          </li>
          <li><a href="#">item 1.4</a></li>
        </ul>
      </li>
    </ul>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  </div>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
